---
export function getStaticPaths() {
  return [
    { params: { kind: "bass" } },
    { params: { kind: "drums" } },
    { params: { kind: "fx" } },
    { params: { kind: "guitar" } },
    { params: { kind: "keys" } },
    { params: { kind: "orchestral" } },
    { params: { kind: "vocals" } },
  ];
}
const { kind } = Astro.params;
let capitalizedWord = "";
import Layout from "../../../layouts/Layout.astro";
if (kind) {
  const firstLetter = kind.charAt(0);

  const firstLetterCap = firstLetter.toUpperCase();

  const remainingLetters = kind.slice(1);

  capitalizedWord = firstLetterCap + remainingLetters;
}
let posts = await Astro.glob("../**/*.md")
posts = posts.filter(item=>item.url?.startsWith("/loops/"+kind))
---

<Layout title={`${capitalizedWord} loops on Floopr`} description={`Find awesome ${kind} music loops on Floopr.org`}>
  <div class="p-4">
    <h1 class="text-2xl text-white font-bold">{capitalizedWord}</h1>
    <div class="flex flex-col min-h-screen">
      <div class="container">
        <noscript>
          <div
            class="block sm:hidden shadow-lg bg-stone-700 rounded-lg py-5 px-6 mb-4 text-base text-gray-100 border-4 border-red-600"
          >
            This webapp works better with JavaScript.
          </div>
        </noscript>
        <div
          class="w-full block sm:hidden shadow-lg bg-stone-700 rounded-lg py-5 px-6 mb-4 text-base text-gray-100 border-4 border-red-600"
        >
          Your screen is too small! You may need to horizontally scroll.
        </div>
        <div
          class="overflow-x-auto relative shadow-2xl rounded-lg outline-red-700"
        >
          <table class="w-full text-sm text-left text-gray-400 bg-neutral-900">
            <thead class="text-xs uppercase bg-neutral-700 text-gray-400">
              <tr>
                <th scope="col" class="py-3 px-4">Title</th>
                <th scope="col" class="py-3 px-4">Contributor</th>
                <th scope="col" class="py-3 px-4">Time Signature</th>
                <th scope="col" class="py-3 px-4">Tempo</th>
                <th scope="col" class="py-3 px-4">Type</th>
                <th scope="col" class="py-3 px-4">Key</th>
                <th scope="col" class="py-3 px-4">Play</th>
                <th scope="col" class="py-3 px-4">Download</th>
              </tr>
            </thead>
            <tbody>
              {
                posts.map((post) => (
                  <tr class="border-b border-neutral-700 bg-neutral-800">
                    <th
                      scope="row"
                      class="py-4 px-6 font-medium whitespace-nowrap text-white"
                    >
                      <a href={post.url}>{post.frontmatter.title}</a>
                    </th>
                    <td class="py-4 px-6">
                      {post.frontmatter.authors.join(", ")}
                    </td>
                    <td class="py-4 px-6">
                      {post.frontmatter.timesig.replace("SLASH", "/")}
                    </td>
                    <td class="py-4 px-6">{post.frontmatter.tempo} BPM</td>
                    <td class="py-4 px-6">{post.frontmatter.type}</td>
                    <td class="py-4 px-6">{post.frontmatter.key}</td>
                    <td class="py-4 px-6">
                      <audio id="audiop" controls loop>
                        {post.frontmatter.files.map((el:string) => (
                          <source src={post.url + "." + el} />             
                        ))}
                      </audio>
                    </td>
                    <td class="py-4 px-6">
                      {post.frontmatter.files.map((ext:string) => (
                        <a class="hover:underline transition-all" download={"floopr-" + post.url?.split("/").pop() + "." + ext} href={post.url?.toString() + "." + ext}>{ext}</a><span>, </span>
                      ))}
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
      <div id="audio"></div>
    </div>
  </div>
</Layout>
