---
import Layout from "./Layout.astro";
const post = Astro.props;
---

<Layout
  title={post.frontmatter.title + " on Floopr"}
  description={post.frontmatter.description}
>
  <div class="text-white">
    <div>
      <section>
        <div
          class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
        >
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white"
          >
            {post.frontmatter.title}
          </h1>
          <p
            class="mb-8 text-lg font-normal lg:text-xl sm:px-16 xl:px-48 text-gray-400"
          >
            <slot />
          </p>
          <div
            class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
          >
            <audio loop id="audioElmId" controls>
              {
                post.frontmatter.files.map((ext: string) => (
                  <source
                    src={
                      "https://cdn.jsdelivr.net/gh/Jontes-Tech/floopr@master/public" +
                      post.url +
                      "." +
                      ext
                    }
                  />
                ))
              }
            </audio>
          </div>
          <p
            class="text-gray-300 text-left bg-stone-600 bg-opacity-40 p-4 backdrop-blur-sm rounded-lg border-8 border-darkGreen shadow-lg"
          >
            <span class="text-white font-bold">By:</span>
            {post.frontmatter.authors.join()}<br />
            <span class="text-white font-bold">Time Signature:</span>
            {post.frontmatter.timesig.replace("SLASH", "/")}<br />
            <span class="text-white font-bold">Tempo:</span>
            {post.frontmatter.tempo} BPM<br />
            <span class="text-white font-bold">Key:</span>
            {post.frontmatter.key}<br />
            <span class="text-white font-bold">Download:</span>{
              post.frontmatter.files.map((ext: string) => (
                <>
                  <>
                    <a
                      class="hover:underline transition-all"
                      target="_blank"
                      download={"floopr-" + post.url?.split("/").pop()}
                      href={
                        "https://cdn.jsdelivr.net/gh/Jontes-Tech/floopr@master/public" +
                        post.url?.toString() +
                        "." +
                        ext
                      }
                    >
                      {ext}
                    </a>
                    <span>, </span>
                  </>
                </>
              ))
            }
            <br />
          </p>
        </div>
      </section>
    </div>
  </div>
  <canvas class="w-full" id="canvasElmId" width="2560"></canvas>
</Layout>

<script defer>
  import { Wave } from "@foobar404/wave";
  if (post.url.startsWith("/loops/")) {
    let audioElement = document.querySelector("#audioElmId");
    let canvasElement = document.querySelector("#canvasElmId");
    // @ts-ignore
    let wave = new Wave(audioElement, canvasElement);

    wave.addAnimation(
      new wave.animations.Wave({
        lineWidth: 10,
        lineColor: "#fcfadf",
        fillColor: "#292a24",
        count: 128,
      })
    );
  }
</script>
